
body{
    font: 20px;
    color: aliceblue;
}
.navbar{
    color: white;
    background-color: #088A29;
}

.text{
    color: whitesmoke;
}


.quem-somos{
    background-color: blue;
    color: aliceblue;
}

.margin{
    padding: 50px;
}

